%% single text file - minimal tty
[{sasl, [
            {sasl_error_logger, {file, "/home/hiro/sfsu/CSC897/harmonia/harmonia.log"}},
            {errlog_type, all},
            {error_logger_mf_dir, "/home/hiro/sfsu/CSC897/harmonia"},
            {error_logger_mf_maxbytes, 10000000},
            {error_logger_mf_maxfiles, 10}
        ]}]. 
